In [1]:
import pandas as pd
import glob
import re
import numpy as np
import itertools

import matplotlib.pyplot as plt

In [2]:
#fList=glob.glob('logs/DAQ_logs/lc-ASIC*16mar_1510*csv')
fName='logs/DAQ_logs/lc-ASIC_16mar_151007.csv'

In [3]:
columns=[f'TX_DATA_{i}' for i in range(8)]
df_ASIC=pd.read_csv(fName)[columns]
df_em=pd.read_csv(fName.replace('ASIC','emulator'))[columns]

In [4]:
_d=pd.read_csv(fName.replace('ASIC','input'))
_d[(_d=='ab972e5c').all(axis=1)]

,RX_DATA_0,RX_DATA_1,RX_DATA_2,RX_DATA_3,RX_DATA_4,RX_DATA_5,RX_DATA_6,RX_DATA_7,RX_DATA_8,RX_DATA_9,RX_DATA_10,RX_DATA_11
59,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c
187,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c
315,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c
443,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c,ab972e5c

In [5]:
df_ASIC[200:210]

,TX_DATA_0,TX_DATA_1,TX_DATA_2,TX_DATA_3,TX_DATA_4,TX_DATA_5,TX_DATA_6,TX_DATA_7
200,ad72e5cb,172e5cb9,72e5cb97,ae5cb972,e5cb972e,dcb972e5,cb972e5c,b972e5cb
201,b176eddb,176eddb9,f6eddb97,eeddb976,6ddb976e,ddb976ed,db976edd,b976eddb
202,b57af5eb,57af5ebd,faf5ebd7,af5ebd7a,f5ebd7af,debd7af5,ebd7af5e,bd7af5eb
203,397efdfb,d7efdfbd,7efdfbd7,6fdfbd7e,7dfbd7ef,5fbd7efd,fbd7efdf,3d7efdfb
204,3d83060c,983060c1,03060c18,3060c183,860c1830,60c18306,8c183060,4183060c
205,01870e1c,9870e1c1,870e1c18,70e1c187,0e1c1870,61c1870e,9c1870e1,41870e1c
206,058b162c,d8b162c5,8b162c58,3162c58b,962c58b1,62c58b16,ac58b162,458b162c
207,898f1e3c,d8f1e3c5,0f1e3c58,71e3c58f,1e3c58f1,63c58f1e,bc58f1e3,c58f1e3c
208,8d93264c,993264c9,13264c99,3264c993,a64c9932,64c99326,cc993264,c993264c
209,91972e5c,9972e5c9,972e5c99,72e5c997,2e5c9972,65c9972e,dc9972e5,c9972e5c

In [6]:
df_em[200:210]

,TX_DATA_0,TX_DATA_1,TX_DATA_2,TX_DATA_3,TX_DATA_4,TX_DATA_5,TX_DATA_6,TX_DATA_7
200,5dcb972e,5cb972e5,cb972e5c,b972e5cb,972e5cb9,72e5cb97,2e5cb972,e5cb972e
201,65dbb76e,ddbb76ed,dbb76edd,bb76eddb,b76eddbb,76eddbb7,6eddbb76,eddbb76e
202,6debd7af,5ebd7af5,ebd7af5e,bd7af5eb,d7af5ebd,7af5ebd7,af5ebd7a,f5ebd7af
203,75fbf7ef,dfbf7efd,fbf7efdf,bf7efdfb,f7efdfbf,7efdfbf7,efdfbf7e,fdfbf7ef
204,7e0c1830,60c18306,0c183060,c183060c,183060c1,83060c18,3060c183,060c1830
205,061c3870,e1c3870e,1c3870e1,c3870e1c,3870e1c3,870e1c38,70e1c387,0e1c3870
206,0e2c58b1,62c58b16,2c58b162,c58b162c,58b162c5,8b162c58,b162c58b,162c58b1
207,163c78f1,e3c78f1e,3c78f1e3,c78f1e3c,78f1e3c7,8f1e3c78,f1e3c78f,1e3c78f1
208,1e4c9932,64c99326,4c993264,c993264c,993264c9,93264c99,3264c993,264c9932
209,265cb972,e5cb972e,5cb972e5,cb972e5c,b972e5cb,972e5cb9,72e5cb97,2e5cb972

In [7]:
print('Emulator')
print('ETX0                                   ETX1')
for i in range(200,210):
    e0=df_em.TX_DATA_0[i]
    e1=df_em.TX_DATA_1[i]
    print(f'{int(e0,16):032b}       {int(e1,16):032b}')
print()
print('ASIC')
print('ETX0                                   ETX1')
for i in range(200,210):
    e0=df_ASIC.TX_DATA_0[i]
    e1=df_ASIC.TX_DATA_1[i]
    print(f'{int(e0,16):032b}       {int(e1,16):032b}')

Emulator
ETX0                                   ETX1
01011101110010111001011100101110       01011100101110010111001011100101
01100101110110111011011101101110       11011101101110110111011011101101
01101101111010111101011110101111       01011110101111010111101011110101
01110101111110111111011111101111       11011111101111110111111011111101
01111110000011000001100000110000       01100000110000011000001100000110
00000110000111000011100001110000       11100001110000111000011100001110
00001110001011000101100010110001       01100010110001011000101100010110
00010110001111000111100011110001       11100011110001111000111100011110
00011110010011001001100100110010       01100100110010011001001100100110
00100110010111001011100101110010       11100101110010111001011100101110

ASIC
ETX0                                   ETX1
10101101011100101110010111001011       00010111001011100101110010111001
10110001011101101110110111011011       00010111011011101101110110111001
10110101011110101111010111101011       01010111101011110101111010111101
00111001011111101111110111111011       11010111111011111101111110111101
00111101100000110000011000001100       10011000001100000110000011000001
00000001100001110000111000011100       10011000011100001110000111000001
00000101100010110001011000101100       11011000101100010110001011000101
10001001100011110001111000111100       11011000111100011110001111000101
10001101100100110010011001001100       10011001001100100110010011001001
10010001100101110010111001011100       10011001011100101110010111001001

In [8]:
print('Emulator')
print('ETX0                                   ETX1')
for i in range(100,110):
    e0=df_em.TX_DATA_0[i]
    e1=df_em.TX_DATA_1[i]
    print(f'{int(e0,16):032b}       {int(e1,16):032b}')
print()
print('ASIC')
print('ETX0                                   ETX1')
for i in range(100,110):
    e0=df_ASIC.TX_DATA_0[i]
    e1=df_ASIC.TX_DATA_1[i]
    print(f'{int(e0,16):032b}       {int(e1,16):032b}')

Emulator
ETX0                                   ETX1
00111111100011110001111000111100       01111000111100011110001111000111
01000111100111110011111001111100       11111001111100111110011111001111
01001111101011110101111010111101       01111010111101011110101111010111
01010111101111110111111011111101       11111011111101111110111111011111
01011111110011111001111100111110       01111100111110011111001111100111
01100111110111111011111101111110       11111101111110111111011111101111
01101111111011111101111110111111       01111110111111011111101111110111
01110111111111111111111111111111       11111111111111111111111111111111
01111000000000000000000000000000       00000000000000000000000000000000
00000000000100000010000001000000       10000001000000100000010000001000

ASIC
ETX0                                   ETX1
00011101111000111100011110001111       10011110001111000111100011110001
00100001111001111100111110011111       10011110011111001111100111110001
00100101111010111101011110101111       11011110101111010111101011110101
10101001111011111101111110111111       11011110111111011111101111110101
10101101111100111110011111001111       10011111001111100111110011111001
10110001111101111110111111011111       10011111011111101111110111111001
10110101111110111111011111101111       11011111101111110111111011111101
00111001111111111111111111111111       01011111111111111111111111111101
00111100000000000000000000000000       00000000000000000000000000000000
00000000000001000000100000010000       00000000010000001000000100000000

In [9]:
print('Emulator')
print('ETX0                                   ETX1')
for i in range(600,610):
    e0=df_em.TX_DATA_0[i]
    e1=df_em.TX_DATA_1[i]
    print(f'{int(e0,16):032b}       {int(e1,16):032b}')
print()
print('ASIC')
print('ETX0                                   ETX1')
for i in range(600,610):
    e0=df_ASIC.TX_DATA_0[i]
    e1=df_ASIC.TX_DATA_1[i]
    print(f'{int(e0,16):032b}       {int(e1,16):032b}')

Emulator
ETX0                                   ETX1
01011110110011011001101100110110       01101100110110011011001101100110
01100110110111011011101101110110       11101101110110111011011101101110
01101110111011011101101110110111       01101110110111011011101101110110
01110110111111011111101111110111       11101111110111111011111101111110
01111111000011100001110000111000       01110000111000011100001110000111
00000111000111100011110001111000       11110001111000111100011110001111
00001111001011100101110010111001       01110010111001011100101110010111
00010111001111100111110011111001       11110011111001111100111110011111
00011111010011101001110100111010       01110100111010011101001110100111
00100111010111101011110101111010       11110101111010111101011110101111

ASIC
ETX0                                   ETX1
10111011001101100110110011011000       10110011011001101100110110011011
11001011011101101110110111011010       10110111011011101101110110111011
11011011101101110110111011011100       10111011011101101110110111011011
11101011111101111110111111011110       10111111011111101111110111111011
11111100001110000111000011100000       11000011100001110000111000011101
00001100011110001111000111100010       11000111100011110001111000111101
00011100101110010111001011100100       11001011100101110010111001011101
00101100111110011111001111100110       11001111100111110011111001111101
00111101001110100111010011101000       11010011101001110100111010011101
01001101011110101111010111101010       11010111101011110101111010111101

In [10]:
d=[]
y=df_ASIC[200:211].values
for i in range(8):
    x=''.join(y[:,i][::-1])

    x='{:097x}'.format(int(x,16)<<1)[1:-7]
    d.append([x[_i:_i+8] for _i in range(0,80,8)][::-1])
    
y=np.array(d).T
for i in y:
#     print(i)
    j='{:0256b}'.format(int(''.join(i),16))[5:]+'0'
#     print(j)
    print( ['{:07x}'.format(int(j[k:k+28],2)) for k in range(0,28*8,28)])

['5ebd7af', '5ebd7af', '5ebd7af', '5ebd7af', '5ebd7af', '5ebd7af', '5ebd7af', '5ebd7af']
['5fbf7ef', '5fbf7ef', '5fbf7ef', '5fbf7ef', '5fbf7ef', '5fbf7ef', '5fbf7ef', '5fbf7ef']
['60c1830', '60c1830', '60c1830', '60c1830', '60c1830', '60c1830', '60c1830', '60c1830']
['61c3870', '61c3870', '61c3870', '61c3870', '61c3870', '61c3870', '61c3870', '61c3870']
['62c58b1', '62c58b1', '62c58b1', '62c58b1', '62c58b1', '62c58b1', '62c58b1', '62c58b1']
['63c78f1', '63c78f1', '63c78f1', '63c78f1', '63c78f1', '63c78f1', '63c78f1', '63c78f1']
['64c9932', '64c9932', '64c9932', '64c9932', '64c9932', '64c9932', '64c9932', '64c9932']
['65cb972', '65cb972', '65cb972', '65cb972', '65cb972', '65cb972', '65cb972', '65cb972']
['66cd9b3', '66cd9b3', '66cd9b3', '66cd9b3', '66cd9b3', '66cd9b3', '66cd9b3', '66cd9b3']
['0000002', '0000000', '2000000', '0200000', '0000000', '0002000', '0000000', '0000020']

In [11]:
y=df_em[200:210].values
d1=[]
h=[]
for i in y:
    j='{:0256b}'.format(int(''.join(i),16))
    h=j[:5] #header on emulator data
    j=j[5:]
    k=['{:07x}'.format(int(j[k:k+28],2)) for k in range(0,28*8,28)]
    k1=['{:07x}'.format(int(p,16)>>1) for p in k]
#     print(k)
    print(k1)
    d1.append([int(p,16)>>1 for p in k])
    d.append([int(p,16) for p in k])

['5cb972e', '5cb972e', '5cb972e', '5cb972e', '5cb972e', '5cb972e', '5cb972e', '5cb972e']
['5dbb76e', '5dbb76e', '5dbb76e', '5dbb76e', '5dbb76e', '5dbb76e', '5dbb76e', '5dbb76e']
['5ebd7af', '5ebd7af', '5ebd7af', '5ebd7af', '5ebd7af', '5ebd7af', '5ebd7af', '5ebd7af']
['5fbf7ef', '5fbf7ef', '5fbf7ef', '5fbf7ef', '5fbf7ef', '5fbf7ef', '5fbf7ef', '5fbf7ef']
['60c1830', '60c1830', '60c1830', '60c1830', '60c1830', '60c1830', '60c1830', '60c1830']
['61c3870', '61c3870', '61c3870', '61c3870', '61c3870', '61c3870', '61c3870', '61c3870']
['62c58b1', '62c58b1', '62c58b1', '62c58b1', '62c58b1', '62c58b1', '62c58b1', '62c58b1']
['63c78f1', '63c78f1', '63c78f1', '63c78f1', '63c78f1', '63c78f1', '63c78f1', '63c78f1']
['64c9932', '64c9932', '64c9932', '64c9932', '64c9932', '64c9932', '64c9932', '64c9932']
['65cb972', '65cb972', '65cb972', '65cb972', '65cb972', '65cb972', '65cb972', '65cb972']

In [12]:
df_em[df_em.TX_DATA_0.str.startswith('f')]

,TX_DATA_0,TX_DATA_1,TX_DATA_2,TX_DATA_3,TX_DATA_4,TX_DATA_5,TX_DATA_6,TX_DATA_7
2265,f8102040,81020408,10204081,02040810,20408102,04081020,40810204,08102040